body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #999;
    
}


/* CSS para el carrito desplegable */
.carrito-container {
    position: fixed;
    right: 0;
    top: 60px; /* Alineado con el header */
    width: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #ddd;
    display: none; /* Oculto por defecto */
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
}

#carritoContent {
    padding: 10px;
}

#carritoContent .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#carritoContent .item button {
    margin: 0 5px;
}

/* Estilo para los botones del carrito */
.btn-carrito {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 1;
    border-radius: 50%;
}

.btn-carrito:hover {
    background-color: #f8f9fa;
}

/* Estilo para la ventana de contacto */
.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 10px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para las tarjetas de producto */
.card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}

.card-img-top {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.card-body {
    flex-grow: 1; 
}

.card-body .btn {
    margin-top:auto; /* Mueve el botón a la parte inferior */
    
}

.header-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
  }
